@page "/Prestamo/Create"

@inject PrestamosService prestamosService
@inject DeudoresService deudoresService
@inject CuotasService cuotasService
@inject NavigationManager navigationManager
@inject ToastService toastService

@*HTML*@
<PageTitle>Create</PageTitle>
<EditForm Model="Prestamo" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />


    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h5 class="card-title">Crear Prestamo</h5>
            </div>

            <div class="card-body ">

                @*Deudor*@
                <div class="mb-3">
                    <label class="form-label"><strong>Deudor</strong></label>
                    <InputSelect class="form-control form-select" @bind-Value="Prestamo.DeudorId">
                        <option>Elija una opci&oacute;n</option>
                        @foreach (var deudor in ListaDeudores)
                        {
                            <option value="@deudor.DeudorId">@deudor.Nombres</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="(() => Prestamo.DeudorId)" />
                </div>
                @*Concepto*@
                <div class="mb-3">
                    <label class="form-label"><strong>Concepto</strong></label>
                    <InputText class="form-control" @bind-Value="Prestamo.Concepto"></InputText>
                    <ValidationMessage For="(() => Prestamo.Concepto)" />
                </div>
                @*Monto*@
                <div class="mb-3">
                    <label class="form-label"><strong>Monto</strong></label>
                    <InputNumber class="form-control" @bind-Value="Prestamo.Monto"></InputNumber>
                    <ValidationMessage For="(() => Prestamo.Monto)" />
                </div>

                @*Cuotas*@
                <div class="mb-3">
                    <label class="form-label"><strong>Cuotas</strong></label>
                    <InputNumber class="form-control" @bind-Value="Cuotas" min="1" max="100"></InputNumber>
                    @if (Prestamo.Monto >= 1)
                    {
                        <div class="btn btn-primary" @onclick="CrearCuotas">
                            <span class=" bi bi-plus-square mt-3"></span>Crear Cuotas
                        </div>
                    }
                </div>

                @* Detalles de las cuotas *@
                <div class="border border-success p-3 mt-3">
                    <h5>Detalles de cuotas</h5>
                    <hr />
                    <table class="table table-light">
                        <thead class="table table-striped">
                            <tr class="text-center">
                                <th>Fecha</th>
                                <th>Valor</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            @foreach (var cuota in ListaCuotas)
                            {
                                <tr>
                                    <th>@cuota.Fecha</th>
                                    <th>@cuota.Valor.ToString("n2")</th>
                                    <th>@cuota.Balance.ToString("n2")</th>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <hr />
                </div>


            </div>
            @*footer*@
            <div class="card-footer text-center mt-2">
                <a href="/Prestamo/Index" class="btn btn-secondary"> <span class="bi bi-arrow-left"></span> Volver</a>
                <button type="submit" class="btn btn-primary bi bi-floppy"> Guardar</button>
            </div>
        </div>
    </div>
</EditForm>


@code {
    public Prestamos Prestamo { get; set; } = new Prestamos();
    public List<Deudores> ListaDeudores { get; set; } = new List<Deudores>();
    public List<Prestamos> ListaPrestamos { get; set; } = new();
    public int Cuotas { get; set; } = 1;
    public List<Cuotas> ListaCuotas { get; set; } = new();
    public CuotasDetalle CuotasDetalle { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        ListaDeudores = await deudoresService.Listar(d => d.DeudorId > 0);
        await LoadPrestamos();

    }

    public async Task LoadPrestamos()
    {
        ListaPrestamos.Clear();
        if (Prestamo.DeudorId > 0)
            ListaPrestamos = await prestamosService.GetList(p => p.DeudorId == Prestamo.DeudorId);
    }

    public async Task CrearCuotas()
    {
        ListaCuotas.Clear();
        double valor = Prestamo.Monto / Cuotas;
        DateTime Fecha = DateTime.Now;
        for (int i = 0; i < Cuotas; i++)
        {
            Cuotas cuota = new()
                {
                    CuotasDetalleId = CuotasDetalle.CuotasDetalleId
                                                    ,
                    Valor = valor
                                                    ,
                    Fecha = Fecha.AddMonths(i)
                };

            ListaCuotas.Add(cuota);
        }
    }

    public async Task Guardar()
    {

        var creado = await prestamosService.Insertar(Prestamo);

        double valorCuota = Prestamo.Monto / Cuotas;

        if (creado)
        {
            await LoadPrestamos();
            Prestamos pres = ListaPrestamos.Last();
            var detalleCreado = await cuotasService.InsertarPrestamoDetalle(new CuotasDetalle()
                {
                    PrestamoId = pres.PrestamoId,
                    CuotasNo = Cuotas
                });

            if (detalleCreado)
            {
                CuotasDetalle cuotasDetalles = await cuotasService.GetCuotasDetallesAsync(pres.PrestamoId);
                for (int i = 0; i < Cuotas; i++)
                {
                    await cuotasService.Insertar(new()
                        {
                            CuotasDetalleId = cuotasDetalles.CuotasDetalleId,
                            Valor = valorCuota
                        });
                }
            }
            navigationManager.NavigateTo("/Prestamo/Index");
        }
        else
        {
            // toastService.ShowError("No se pudo guardar correctamente");
        }
    }
}
